.header {
  padding: 20px;
  display: flex;
  align-items: center;

  &__social {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;

    &--logo {
      width: 40px;
      height: auto;
    }
  }
}
